//COLORS
$dark: #303d4e;
$red: #e02c2b;
$white: #fff;
$black: #000;
$yellow: #CECE3A;
$light-gray: #ccc;
$green: #009640;

//FONT
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$rubik: 'Rubik', sans-serif;

//MORE
$transition: all .3s ease-in-out;
$shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);

//BREAKPOINTS
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;

#root{
    height: 100vh;
    &.cartopen{
        overflow: hidden;
    }
}
.App {
    font-family: $rubik;

    a{
        text-decoration: none;
    }

    .main {
        .header {
            .top_bar {
                .container {
                    padding: 20px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .logo {
                        width: 180px;
                    }

                    .cart {
                        display: flex;
                        gap: 30px;
                        align-items: flex-end;

                        &--icon {
                            position: relative;
                            text-align: right;
                            color: $dark;

                            i {
                                font-size: 3em;
                            }

                            span {
                                position: absolute;
                                right: -15px;
                                top: 0;
                                background-color: $red;
                                width: 25px;
                                height: 25px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $white;
                                border-radius: 50%;
                            }
                        }

                        &--value {
                            p {
                                margin: 0;
                                font-size: .8em;
                                color: $dark;
                            }

                            &__price {
                                color: $red;
                                font-size: 1em;
                                line-height: 1;
                            }
                        }
                    }
                }
                @media screen and (max-width: $xs){
                    padding: 0 15px;
                    .container{
                        .logo{
                            width: 150px;
                        }
                        @media screen and (max-width: $xs){
                            padding: 0 15px;
                            .logo{
                                width: 150px;
                            }
                            .cart{
                                &--icon{
                                    i{
                                        font-size: 2.5em;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .menu{
                background: $dark;
                color: $white;
                .navbar-menu{
                    nav{
                        .me-auto{
                            gap: 40px;
                            a{
                                color: $white;
                                font-size: 1.2em;
                                line-height: 60px;
                                text-transform: uppercase;
                                transition: $transition;
                                &:hover{
                                    color: $red;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width: $md){
                    .container{
                        padding: 0;
                    }
                    .navbar-menu{
                        nav{
                            .navbar-toggler{
                                background-color: $red;
                            }
                            .me-auto{
                                gap: 30px;
                                padding: 40px 0;
                                font-size: 2em;
                            }
                        }
                    }
                }
                @media screen and (max-width: $xs){
                    padding: 0 25px;
                }
                
            }
            .sidebar{
                position: fixed;
                top: 0;
                right: -500px;
                background-color: $white;
                z-index: 9999;
                height: 100vh;
                width: 100%;
                max-width: 500px;
                border-left: 1px solid $dark;
                overflow-y: auto;
                transition: $transition;
                &.open{
                    right: 0;
                }
            }
        }
        .checkout{
            h2{
                text-transform: uppercase;
                font-weight: 400;
                border-bottom: 1px solid $dark;
                margin-bottom: 20px;
            }
            .cartpage{
                box-shadow: $shadow;
                border-radius: 10px;
                padding: 10px;
            }
            input{
                width: 100%;
                padding: 10px 20px;
                margin-bottom: 10px;
                border-radius: 10px;
                border: 1px solid $dark;
                &[type="submit"]{
                    border: 0;
                    background-color: $red;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }
        .content{
            .hero_banner{
                height: 500px;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                text-align: right;
                color: $white;
                position: relative;
                .container{
                    position: relative;
                    z-index: 1;
                    h2{
                        font-size: 4em;
                        text-transform: uppercase;
                        font-weight: 800;
                        color: $red;
                        padding-left: 60%;
                    }
                    a{
                        color: $dark;
                        padding: 10px 25px;
                        background-color: $white;
                        margin-top: 20px;
                        display: inline-block;
                        border-radius: 20px;
                        text-transform: uppercase;
                        font-weight: 600;
                        transition: $transition;
                        &:hover{
                            background-color: $red;
                            color: $white;
                        }
                    }
                }
                
                .overlay{
                    position: absolute;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    opacity: .5;
                }
                @media screen and (max-width: $lg){
                    .container{
                        h2{
                            padding-left: 40%;
                        }
                    }
                }
                @media screen and (max-width: $md){
                    .container{
                        h2{
                            padding-left: 0;
                        }
                    }
                }
                @media screen and (max-width: $xs){
                    .container{
                        h2{
                            font-size: 3em;
                        }
                    }
                }
            }
            .features{
                background-color: $light-gray;
                .col-md-4{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5em;
                    padding: 20px;
                    color: $dark;
                    i{
                        font-size: 2em;
                        margin-right: 20px;
                    }
                    @media screen and (max-width: $lg){
                        font-size: 1.2em;
                    }
                }
            }
            .item_list{
                padding: 80px 0;
                .loading{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .products{
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    gap: 8px;
                    &--item{
                        width: calc(25% - 7px);
                        border: 1px solid $light-gray;
                        padding: 20px;
                        transition: $transition;
                        position: relative;
                        .item-wrapper{
                            .category{
                                position: absolute;
                                left: 0;
                                top: 0;
                                background-color: $light-gray;
                                border-radius: 0 0 15px 0;
                                padding: 5px 20px 5px 10px;
                                text-transform: uppercase;
                                font-size: .8em;
                                font-weight: 600;
                                transition: $transition;
                                a{
                                    color: $dark;
                                }
                                &:hover{
                                    padding: 5px 40px 5px 10px;
                                }
                            }
                        }
                        &:hover{
                            box-shadow: $shadow;
                            .buttons{
                                opacity: 1;
                            }
                        }
                        img{
                            width: 100%;
                            aspect-ratio: 1;
                            object-fit: cover;
                        }
                        &__desc{
                            padding-top: 20px;
                            text-align: center;
                            .price{
                                font-size: 25px;
                                font-weight: 300;
                                margin-top: 10px;
                            }
                            .buttons{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-top: 10px;
                                gap: 10px;
                                opacity: 0;
                                transition: $transition;
                                .btn-primary{
                                    background-color: $red;
                                }
                                .btn{
                                    border: 0;
                                    padding: 10px 20px;
                                    text-transform: uppercase;
                                    transition: $transition;
                                    &:hover{
                                        opacity: .6;
                                    }
                                }
                            }
                            a{
                                color: $dark;
                                h4{
                                    font-size: 1em;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    margin-bottom: 0;
                                }
                            }
                            
                            .button-wrapper{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 10px;
                                margin-top: 20px;
                                button{
                                    background-color: $red;
                                    border: 0;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width: $lg){
                    .products{
                        &--item{
                            width: calc(33.333% - 6px);
                        }
                    }
                }
                @media screen and (max-width: $md){
                    .products{
                        &--item{
                            width: calc(50% - 4px);
                        }
                    }
                }
                @media screen and (max-width: $xs){
                    .products{
                        &--item{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .product{
            img{
                border: 1px solid $light-gray;
                border-radius: 10px;
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                display: block;
            }
            .breadcrumb{
                font-size: 1em;
                display: flex;
                align-items: center;
                gap: 10px;
                color: $light-gray;
                a{
                    color: $red;
                }
            }
            h2{
                font-weight: 400;
                font-size: 3em;
                margin-bottom: 0;
            }
            .category{
                display: block;
                font-style: italic;
                color: $red;
            }
            .price{
                font-size: 2em;
                color: $green;
                font-weight: 400;
                margin-top: 20px;
                display: block;
            }
            .promo{
                font-size: .9em;
                display: flex;
                align-items: center;
                gap: 10px;
                color: $dark;
            }
            .buttons{
                display: flex;
                gap: 10px;
                margin-top: 20px;
                .button-wrapper{
                    display: inline-flex;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: left;
                    gap: 10px;
                    border: 1px solid $red;
                    span{
                        width: 30px;
                        text-align: center;
                    }
                    button{
                        background-color: transparent!important;
                        color: $red;
                        font-weight: 600;
                        font-size: 1.4em;
                        padding: 5px 10px;
                        border: 0;
                    }
                }
                .btn-primary{
                    background-color: $red;
                    border: 0;
                    border-radius: 10px;
                    padding: 5px 20px;
                    display: inline-flex;
                    text-transform: uppercase;
                    align-items: center;
                    letter-spacing: 1px;
                    font-weight: 600;
                }
            }
            .description{
                margin-top: 40px;
            }
         
        }
        .cartpage{
            &--heading{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $dark;
                color: $white;
                padding: 10px 20px;
                h3{
                    margin: 0;
                    font-size: 1.5em;
                    letter-spacing: 1px;
                    font-weight: 400;
                }
                button{
                    background-color: transparent;
                    padding: 0;
                    border: 0;
                    font-size: 2em;
                }
            }
            .emptycart{
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5em;
                margin-top: 40px;
                color: $dark;
            }
            &--list{
                &__item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap:20px;
                    border-bottom: 1px solid $light-gray;
                    padding: 10px;
                    transition: $transition;
                    img{
                        width: 70px;
                        aspect-ratio: 1;
                        object-fit: cover;
                        flex-shrink: 0;
                    }
                    .description{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        h4{
                            font-size: 1.2em;
                            margin: 0;
                            line-height: 1;
                            font-weight: 400;
                            span{
                                font-size: .8em;
                            }
                        }
                        p{
                            margin: 0;
                            text-wrap: nowrap;
                        }
                    }
                    .trash{
                        padding: 0;
                        color: $dark;
                        background: transparent;
                        border: 0;
                        font-size: 1.2em;
                    }
                }
            }
            &--total{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $dark;
                margin-top: 20px;
                padding: 10px;
                &__text{
                    font-size: 2em;
                }
                &__price{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    color: $green;
                    font-size: 2.5em;
                    span{
                        font-size: .4em;
                        color: $dark;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                    }
                }
            }
            &--checkout{
                display: block;
                padding: 10px;
                button{
                    display: block;
                    width: 100%;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    background-color: $red;
                    border: 0;
                    padding: 10px 20px;
                    transition: $transition;
                    &:hover{
                        opacity: .5;
                    }
                }  
            }
            &--clear{
                display: block;
                width: 100%;
                background-color: transparent;
                border: 0;
                color: $dark;
                transition: $transition;
                &:hover{
                    opacity: .6;
                }
            }
        }  
        .footer{
            padding-top: 80px;
            background-color: $dark;
            color: $white;
            .about{
                .logo{
                    max-width: 150px;
                    margin-bottom: 20px;
                }
                img{
                    margin-top: 20px;
                }
            }
            .contact{
                text-align: right;
                h4{
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        font-size: 1.2em;
                        margin-bottom: 20px;
                        i{
                            margin-right: 10px;
                            color: $red;
                        }
                        a{
                            color: $white;
                        }
                    }
                }
                @media screen and (max-width: $sm){
                    text-align: left;
                    margin-top: 60px;
                }
            }
            .copy{
                border-top: 1px solid $light-gray;
                padding: 20px;
                margin-top: 80px;
                color: $light-gray;
                font-size: .8em;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}